<div class="fw-inner">
    <section class="fw-panel" data-panel="group">
        <header class="fw-panel-title"><span class="fw-count fw-count-{{groupColor}}">{{groupCount}}</span> {{groupTitle}}{{#if groupSymbols.length}}<span class="fw-round-symbols">{{#each groupSymbols as |sym|}}<img class="fw-round-symbol" src="{{sym.img}}" title="{{sym.title}}" alt="">{{/each}}</span>{{/if}}</header>
        {{#each groupActivities as |activity|}}
        {{> fwActivityRow activity}}
        {{/each}}
        {{#if campPresent}}
        <div class="fw-camp-line">
            <img class="fw-camp-icon" src="{{campImg}}" alt="">
            <span>{{campLabel}}</span>
        </div>
        {{/if}}
    </section>
    <section class="fw-panel" data-panel="individual">
        <header class="fw-panel-title"><span class="fw-count fw-count-white">{{individualCount}}</span> {{individualTitle}}</header>
        {{#each individualActivities as |activity|}}
        {{> fwActivityRow activity}}
        {{/each}}
    </section>
    {{#if partyEffects.length}}
    <section class="fw-party-effects">
        {{#each partyEffects as |fx|}}
        <span class="fw-effect-chip" data-effect-key="{{fx.key}}" title="{{fx.label}}">
            <img class="fw-effect-icon" src="{{fx.img}}" alt="">
            <span class="fw-effect-label">{{fx.label}}</span>
            <a class="fw-effect-remove" data-action="remove-party-effect" title="{{../removeEffectTitle}}">✕</a>
        </span>
        {{/each}}
    </section>
    {{/if}}
</div>
